<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/cs/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12 col-11 main-section">
                <img class="mx-auto d-block col-lg-8 col-sm-12 col-11 " src="/static/images/1.png">
                <p class="text-center font-weight-bold text-muted">{{message}}</p>
                
                <form id = "upload" action="/predict" method="POST" enctype="multipart/form-data">
                    <input type="file" name="uploadFile" accept="image/*" required  multiple="multiple" />
                    </br></br>
                    <button class="btn btn-primary" type = "submit" value = "Submit" >Submit</button>
                </form>

            </div>
        </div>
    </div>

    <!-- div container to display output  | WTF -->
    <div class = "container">
        <img src = {{name}} width = 1000px height = 500px alt = "">
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>